.date-list-container{
    text-align: center;

    h1{
        font-size: 50px;
    }

    .date-list{
        padding-top: 30px;

        span{
            text-decoration: none;
            color: rgb(0, 195, 255);
            outline: 1px solid rgb(0, 195, 255);
            padding: 10px;
            margin: 25px;
            font-size: 25px;
    
            &:hover{
                color: white;
                background-color: rgb(0, 195, 255);
            }
        }
    }
}